/* Variáveis de cor */
:root {
    --primary-color: #14726C;
    --secondary-color: #58B5B0;
    --dark-color: #235A54;
    --light-color: #F6F6F7;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sessão Principal */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
    height: 100vh;
    padding: 2rem;
    gap: 0rem;
}

.hero-content {
    width: 70%; /* Texto ocupa 70% da largura */
    text-align: left; /* Alinhamento ajustado */
    color: var(--secondary-color);
    line-height: 1.6;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
}

.hero-image-container {
    width: 30%; /* Imagem ocupa 30% da largura */
    height: auto;
    margin-left: 10rem; /* Adiciona um espaçamento maior à esquerda */
}

.hero-image {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 50px 0 50px 0; /* Arredondamento ajustado */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: var(--light-color);
}

/* Inverter ordem dos elementos */
.hero {
    flex-direction: row-reverse;
}

/* Sessões Secundárias */
.services,
.other-section {
    width: 100%; /* Ocupa 100% da largura da tela */
    height: 100vh; /* Ocupa 100% da altura da tela */
    padding: 4rem 2rem;
    background-color: var(--light-color);
    color: var(--light-color);
    text-align: center;
}

/* Sessão Sobre Mim */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    height: 100vh; /* Ocupa toda a altura da tela */
    padding: 2rem;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.about-content {
    width: 60%; /* Texto ocupa 60% */
    text-align: justify; /* Alinhamento justificado */
    color: var(--light-color);
    line-height: 1.8;
}

.about-content h2 {
    font-size: 2.5rem;
    color: var(--light-color);
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.2rem;
}

.about-image-container {
    width: 40%; /* Imagem ocupa 40% */
    height: auto;
}

.about-image {
    width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: 50px 0 50px 0; /* Mesma configuração da primeira sessão */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}



/* Sessão Avaliações */
.testimonials {
    position: relative;
    overflow: hidden;
    background-color: var(--secondary-color);
    height: 100vh; /* Ocupa a altura total da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    position: relative;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-item {
    position: absolute;
    opacity: 0;
    transform: translateX(100%); /* Começa fora da tela à direita */
    transition: all 1s ease-in-out; /* Transições suaves */
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark-color);
    line-height: 1.8;
    background-color: var(--light-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
}

.testimonial-item h4 {
    margin-top: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}

/* Classe ativa */
.testimonial-item.active {
    opacity: 1;
    transform: translateX(0); /* Centralizado */
}

.testimonial-item.exit {
    opacity: 0;
    transform: translateX(-100%); /* Sai pela esquerda */
}


/* Título da Seção */
.section-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

/* Lista de Serviços */
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.service-item {
    background-color: var(--light-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Invisível inicialmente */
    transform: translateY(50px); /* Deslocamento inicial */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}



/* Animação ativada */
.service-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Responsividade para iPads e Tablets (Mesma aparência da versão Desktop) */
@media (max-width: 1024px) {
    .hero {
        flex-direction: row-reverse; /* A imagem continua à direita */
        align-items: center;
        gap: 1rem;
    }

    .hero-content {
        width: 70%; /* Mantém o texto ocupando 70% */
    }

    .hero-image-container {
        width: 30%; /* Mantém a imagem ocupando 30% */
        margin-left: 3rem; /* Ajuste do espaçamento */
    }

    .hero-image {
        width: 100%;
        height: 100%;
    }
}

/* Responsividade para celulares */
@media (max-width: 768px) {
    .hero {
        flex-direction: column-reverse; /* Texto fica abaixo da imagem */
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        height: auto; /* Ajusta altura */
    }

    .hero-content {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-image-container {
        width: 80%; /* Ajuste o tamanho da imagem */
        margin-left: 0; /* Remove o espaçamento à esquerda */
    }

    .services-list {
        flex-direction: column;
        gap: 1rem;
    }

    .service-item {
        width: 100%;
        text-align: center;
    }
}

/* Outros estilos */
body {
    font-family: Arial, sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
}

.menu {
    background: var(--primary-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu nav a:hover {
    color: var(--secondary-color);
}

/* Contato */
.contact-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh; /* Ocupa toda a altura da tela */
    padding: 2rem;
    gap: 2rem;
    box-sizing: border-box;
}

.map-container {
    width: 30%; /* Mapa ocupa 20% da largura */
    height: 40%; /* Preenche a altura total */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.map-container iframe {
    flex: 1; /* Ajusta o iframe para ocupar o espaço vertical */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

.address-text {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
}

.contact-container {
    width: 80%; /* Ocupa o restante do espaço */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-links {
    width: 30%; /* Links ocupam 30% do espaço restante */
}

.contact-links h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.contact-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-links li {
    margin-bottom: 0.5rem;
}

.contact-links a {
    text-decoration: none;
    color: #007BFF; /* Azul para os links */
    font-size: 1rem;
}

.contact-links a:hover {
    text-decoration: underline;
}

.contact-form {
    width: 65%; /* Formulário ocupa o restante do espaço */
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form label {
    font-size: 1rem;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-form button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}


/* Transição suave para âncoras */
html {
    scroll-behavior: smooth;
}
